BasedOnStyle: LLVM
TabWidth: 4
IndentWidth: 4
UseTab: ForIndentation
DerivePointerAlignment: false
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 120
IncludeBlocks: Regroup
Language: Cpp
AccessModifierOffset: -4
