# Unix-style newlines with a newline ending every file
[*.{c,cpp,h,hpp}]
end_of_line = lf
insert_final_newline = true
indent_style = tab
tab_width = 4
indent_size = tab
trim_trailing_whitespace = true
charset = utf-8
max_line_length = 120
x-soft-wrap-text = true
x-soft-wrap-mode = CharacterWidth
x-soft-wrap-limit = 120
x-show-invisibles = false
x-show-spaces = false

[*.{test,test_slow,test_coverage,benchmark}]
end_of_line = lf
insert_final_newline = true
indent_style = tab
tab_width = 4
indent_size = tab
trim_trailing_whitespace = true
charset = utf-8
x-soft-wrap-text = false

[Makefile]
end_of_line = lf
insert_final_newline = true
indent_style = tab
tab_width = 4
indent_size = tab
trim_trailing_whitespace = true
charset = utf-8
x-soft-wrap-text = false

[*keywords.list]
insert_final_newline = false
