#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
#==============================================================================#

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# Java bytecode
*.class
# Byte compiled python modules.
*.pyc
# vim swap files
.*.sw?
.sw?
#OS X specific files.
.DS_store
# Core files
#core

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
# Various tag programs
/tags
/TAGS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
.gitusers
autom4te.cache
cscope.files
cscope.out
autoconf/aclocal.m4
autoconf/autom4te.cache
/compile_commands.json
/.wasm

#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
# External projects that are tracked independently.
projects/*
!projects/*.*
!projects/Makefile


#==============================================================================#
# Autotools artifacts
#==============================================================================#
config/
configure
config-h.in
autom4te.cache
*Makefile.in
third_party/*/Makefile
libtool
aclocal.m4
config.log
config.status
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

#==============================================================================#
# Build artifacts
#==============================================================================#
#m4/
build/
duckdb_benchmark_data/
#*.m4
*.o
*.lo
*.la
*~
*.pdf
*.swp
a.out

#==============================================================================#
# Kate Swap Files
#==============================================================================#
*.kate-swp
.#kate-*

#==============================================================================#
# Backup artifacts
#==============================================================================#
~*
*~
tmp/

#==============================================================================#
# KDevelop files
#==============================================================================#
.kdev4
*.kdev4
.dirstamp
.deps
.libs

#==============================================================================#
# Eclipse files
#==============================================================================#
.wtpmodules
.classpath
.project
.cproject
.pydevproject
.settings
.autotools
.csettings

/Debug/
/misc/

#==============================================================================#
# Intellij files
#==============================================================================#
.idea
*.iml

#==============================================================================#
# Code Coverage files
#==============================================================================#
*.gcno
*.gcda

#==============================================================================#
# Scripts
#==============================================================================#
*.jar
scripts/PelotonTest/out
scripts/PelotonTest/lib

#==============================================================================#
# Protobuf
#==============================================================================#
*.pb-c.c
*.pb-c.h
*.pb.go

#==============================================================================#
# Third party
#==============================================================================#
third_party/nanomsg/
third_party/nvml/
third_party/logcabin/

#==============================================================================#
# Eclipse
#==============================================================================#

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Clang language server (C/C++ tooling)
/.cache/clangd
.ccls-cache

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# RStudio specific
.Rproj.user

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
io_file

## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled protocol buffers
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings
.csettings

# Visual Studio
.vs
settings.json
.vscode

# QtCreator files
*.user

# PyCharm files
.idea

# OSX dir files
.DS_Store

# User's build configuration
Makefile.config

# build, distribute, and bins (+ python proto bindings)
build
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
cmake_build
.cmake_build
cmake-build-debug
cmake-build-release

# Generated documentation
docs

# tests
test/test.sql
duckdb_benchmark_data/

# SQLite logic tests
test/evidence/
third_party/sqllogictest

#imdb dataset
third_party/imdb/data

# Format timer
.last_format
# Benchmarks
.last_benchmarked_commit
benchmark_results/
duckdb_unittest_tempdir/
grammar.y.tmp
src/amalgamation/
# single file compile
amalgamation.cache
dependencies.d
deps.s
duckdb.cpp.tmp
duckdb.hpp.tmp
# .Rcheck
tools/duckdb.Rcheck/
tools/*.tar.gz
.Rhistory
ub_*.cpp

# python parquet files used in tests
tools/pythonpkg/tests/unsigned.parquet
tools/pythonpkg/tests/userdata1.parquet

# node tests
__nvm

*.vcxproj*
*.cmake
*.sln

# Zig files
zig-out/*
zig-cache/*
*.zig

# .db files
*.db