numpy>=1.14
pybind11>=2.6.0
setuptools_scm>=6.3
setuptools>=58
pytest
pandas
pytest-timeout
mypy
psutil>=5.9.0
requests>=2.26
fsspec
pyarrow>=8.0
torch
polars
adbc_driver_manager
tensorflow
cxxheaderparser
pcpp

