numpy>=1.14
pybind11[global]>=2.9.0
setuptools_scm>=6.3
setuptools>=58
pytest
pytest-reraise
pandas
pytest-timeout
mypy<=1.13
psutil>=5.9.0
requests>=2.26
urllib3
fsspec
pyarrow>=8.0
torch
polars
tensorflow
cxxheaderparser
pcpp
pyspark
