name: InvokeCI
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      override_git_describe:
        type: string
      git_ref:
        type: string
      skip_tests:
        type: string
      run_all:
        type: string

concurrency:
  group: invokeci-${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}-${{ inputs.override_git_describe }}-${{ inputs.git_ref }}-${{ inputs.skip_tests }}
  cancel-in-progress: true

jobs:
  osx:
    uses: ./.github/workflows/OSX.yml
    secrets: inherit
    with:
      override_git_describe: ${{ inputs.override_git_describe }}
      git_ref: ${{ inputs.git_ref }}
      skip_tests: ${{ inputs.skip_tests }}

  linux-release:
    uses: ./.github/workflows/LinuxRelease.yml
    secrets: inherit
    with:
      override_git_describe: ${{ inputs.override_git_describe }}
      git_ref: ${{ inputs.git_ref }}
      skip_tests: ${{ inputs.skip_tests }}

  windows:
    uses: ./.github/workflows/Windows.yml
    secrets: inherit
    with:
      override_git_describe: ${{ inputs.override_git_describe }}
      git_ref: ${{ inputs.git_ref }}
      skip_tests: ${{ inputs.skip_tests }}

  python:
    uses: ./.github/workflows/Python.yml
    secrets: inherit
    with:
      override_git_describe: ${{ inputs.override_git_describe }}
      git_ref: ${{ inputs.git_ref }}
      skip_tests: ${{ inputs.skip_tests }}
      run_all: ${{ inputs.run_all }}

  pyodide:
    uses: ./.github/workflows/Pyodide.yml
    secrets: inherit
    with:
      override_git_describe: ${{ inputs.override_git_describe }}
      git_ref: ${{ inputs.git_ref }}
      skip_tests: ${{ inputs.skip_tests }}

  R:
    uses: ./.github/workflows/R.yml
    secrets: inherit
    with:
      override_git_describe: ${{ inputs.override_git_describe }}
      git_ref: ${{ inputs.git_ref }}
      skip_tests: ${{ inputs.skip_tests }}

  Wasm:
    uses: ./.github/workflows/Wasm.yml
    secrets: inherit
    with:
      override_git_describe: ${{ inputs.override_git_describe }}
      git_ref: ${{ inputs.git_ref }}
      skip_tests: ${{ inputs.skip_tests }}

  static-libraries:
    uses: ./.github/workflows/BundleStaticLibs.yml
    secrets: inherit
    with:
      override_git_describe: ${{ inputs.override_git_describe }}
      git_ref: ${{ inputs.git_ref }}
      skip_tests: ${{ inputs.skip_tests }}
