name: NightlyTests
on:
  workflow_dispatch:
  repository_dispatch:
  push:
    branches-ignore:
      - 'main'
      - 'feature'
      - 'v*.*-*'
    paths-ignore:
      - '**'
      - '!.github/workflows/NightlyTests.yml'
      - '!.github/patches/duckdb-wasm/**'
  pull_request:
    types: [opened, reopened, ready_for_review]
    paths-ignore:
      - '**'
      - '!.github/workflows/NightlyTests.yml'
      - '!.github/patches/duckdb-wasm/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  DUCKDB_WASM_VERSION: "cf2048bd6d669ffa05c56d7d453e09e99de8b87e"
  CCACHE_SAVE: ${{ github.repository != 'duckdb/duckdb' }}
  BASE_BRANCH: ${{ github.base_ref || (endsWith(github.ref, '_feature') && 'feature' || 'main') }}

jobs:
  linux-memory-leaks:
     name: Linux Memory Leaks
     runs-on: ubuntu-24.04
     env:
       GEN: ninja

     steps:
     - uses: actions/checkout@v3
       with:
         fetch-depth: 0

     - uses: actions/setup-python@v5
       with:
         python-version: '3.12'

     - name: Install Ninja
       shell: bash
       run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build

     - name: Setup Ccache
       uses: hendrikmuhs/ccache-action@main
       with:
         key: ${{ github.job }}
         save: ${{ env.CCACHE_SAVE }}

     - name: Build
       shell: bash
       run: make

     - name: Test
       shell: bash
       run: |
         python3 test/memoryleak/test_memory_leaks.py

  release-assert:
    name: Release Assertions
    runs-on: ubuntu-latest
    needs: linux-memory-leaks
    env:
      GEN: ninja
      BUILD_JEMALLOC: 1
      CORE_EXTENSIONS: "icu;tpch;tpcds;fts;json;inet;httpfs"
      DISABLE_SANITIZER: 1
      CRASH_ON_ASSERT: 1
      RUN_SLOW_VERIFIERS: 1

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install
      shell: bash
      run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build

    - name: Setup Ccache
      uses: hendrikmuhs/ccache-action@main
      with:
        key: ${{ github.job }}
        save: ${{ env.CCACHE_SAVE }}

    - name: Build
      shell: bash
      run: UNSAFE_NUMERIC_CAST=1 make relassert

    - name: Test
      shell: bash
      run: |
          python3 scripts/run_tests_one_by_one.py build/relassert/test/unittest "*" --no-exit --timeout 1200

  release-assert-osx:
    name: Release Assertions OSX
    runs-on: macos-latest
    needs: linux-memory-leaks
    env:
      GEN: ninja
      CORE_EXTENSIONS: "icu;tpch;tpcds;fts;json;inet;httpfs"
      DISABLE_SANITIZER: 1
      CRASH_ON_ASSERT: 1
      RUN_SLOW_VERIFIERS: 1

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install Ninja
      run: brew install ninja llvm

    - name: Setup Ccache
      uses: hendrikmuhs/ccache-action@main
      with:
        key: ${{ github.job }}
        save: ${{ env.CCACHE_SAVE }}

    - name: Build
      shell: bash
      run: CMAKE_LLVM_PATH='/opt/homebrew/opt/llvm' UNSAFE_NUMERIC_CAST=1 make relassert

    - name: Test
      shell: bash
      run: |
          python3 scripts/run_tests_one_by_one.py build/relassert/test/unittest "*" --no-exit --timeout 1200

  release-assert-osx-storage:
    name: Release Assertions OSX Storage
    runs-on: macos-latest
    needs: linux-memory-leaks
    env:
      GEN: ninja
      CORE_EXTENSIONS: "icu;tpch;tpcds;fts;json;inet"
      DISABLE_SANITIZER: 1
      CRASH_ON_ASSERT: 1
      RUN_SLOW_VERIFIERS: 1

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install Ninja
      run: brew install ninja

    - name: Setup Ccache
      uses: hendrikmuhs/ccache-action@main
      with:
        key: ${{ github.job }}
        save: ${{ env.CCACHE_SAVE }}

    - name: Build
      shell: bash
      run: UNSAFE_NUMERIC_CAST=1 make relassert

    - name: Test
      shell: bash
      run: |
          python3 scripts/run_tests_one_by_one.py build/relassert/test/unittest "*" --no-exit --timeout 1200 --force-storage

  smaller-binary:
    name: Smaller Binary
    runs-on: ubuntu-24.04
    needs: linux-memory-leaks
    env:
      GEN: ninja
      BUILD_JEMALLOC: 1
      CORE_EXTENSIONS: "icu;tpch;tpcds;json"
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install
      shell: bash
      run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build

    - name: Setup Ccache
      uses: hendrikmuhs/ccache-action@main
      with:
        key: ${{ github.job }}
        save: ${{ env.CCACHE_SAVE }}

    - name: Build
      shell: bash
      run: SMALLER_BINARY=1 make

    - name: Measure Size
      shell: bash
      run: ls -trlah build/release/src/libduckdb*

    - name: Test
      shell: bash
      run: |
          build/release/test/unittest "*"

  release-assert-clang:
    name: Release Assertions with Clang
    runs-on: ubuntu-latest
    needs: linux-memory-leaks
    env:
      CC: clang
      CXX: clang++
      GEN: ninja
      BUILD_JEMALLOC: 1
      CORE_EXTENSIONS: "icu;tpch;tpcds;fts;json;inet;httpfs"
      DISABLE_SANITIZER: 1
      CRASH_ON_ASSERT: 1
      RUN_SLOW_VERIFIERS: 1

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install
      shell: bash
      run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build llvm

    - name: Setup Ccache
      uses: hendrikmuhs/ccache-action@main
      with:
        key: ${{ github.job }}
        save: ${{ env.CCACHE_SAVE }}

    - name: Build
      shell: bash
      run: UNSAFE_NUMERIC_CAST=1 make relassert

    - name: Test
      shell: bash
      run: |
          python3 scripts/run_tests_one_by_one.py build/relassert/test/unittest "*" --no-exit --timeout 1200

  linux-compile-32:
    name: Linux (32 Bit)
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux2_28_x86_64
    if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/feature' }}
    needs: linux-memory-leaks
    env:
      CC: /usr/bin/gcc
      CXX: /usr/bin/g++

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: ./.github/actions/manylinux_2014_setup
        with:
          ninja-build: 1
          ccache: 1
          glibc32: 1

      - name: Build
        shell: bash
        run: |
          mkdir -p build/release
          (cd build/release && cmake -G "Ninja" -DSTATIC_LIBCPP=1 -DCORE_EXTENSIONS='icu;parquet;fts;json' -DFORCE_32_BIT=1 -DCMAKE_BUILD_TYPE=Release ../.. && cmake --build .)

      - name: Test
        shell: bash
        run: build/release/test/unittest

  linux-tarball:
     name: Python 3 Tarball
     runs-on: ubuntu-22.04
     needs: linux-memory-leaks
     steps:
     - uses: actions/checkout@v3
       with:
         fetch-depth: 0

     - uses: actions/setup-python@v5
       with:
         python-version: '3.12'

     - name: Install
       shell: bash
       working-directory: tools/pythonpkg
       run: pip install -r requirements-dev.txt

     - name: Setup Ccache
       uses: hendrikmuhs/ccache-action@main
       with:
         key: ${{ github.job }}
         save: ${{ env.CCACHE_SAVE }}

     - name: Build
       shell: bash
       run: |
         python --version
         git archive --format zip --output test-tarball.zip HEAD
         mkdir duckdb-test-tarball
         mv test-tarball.zip duckdb-test-tarball
         cd duckdb-test-tarball
         unzip test-tarball.zip
         cd tools/pythonpkg
         export SETUPTOOLS_SCM_PRETEND_VERSION=0.2.2
         export DISTUTILS_C_COMPILER_LAUNCHER=ccache
         pip install . --user
         (cd tests/ && python -m pytest)

  python-sqllogic:
     name: Python SQLLogicTest Library (Linux)
     runs-on: ubuntu-22.04
     env:
        GEN: ninja
        DUCKDEBUG: 1
        ASAN_OPTIONS: detect_leaks=0

     steps:
     - uses: actions/checkout@v3
       with:
         fetch-depth: 0

     - uses: actions/setup-python@v5
       with:
         python-version: '3.10'

     - name: Install Python Test Dependencies
       shell: bash
       run: |
         cd tools/pythonpkg
         python3 -m pip install -r requirements-dev.txt

     - name: Install DuckDB Python
       shell: bash
       run: |
         cd tools/pythonpkg
         python3 -m pip install .

     - name: Run Python SQLLogicTester
       shell: bash
       run: |
         python3 -m pytest './tools/pythonpkg/sqllogic/' --verbose --test-dir './test'

  sqllogic:
     name: Sqllogic tests
     runs-on: ubuntu-latest # Secondary task of this CI job is to test building duckdb on latest ubuntu
     needs: linux-memory-leaks

     steps:
     - uses: actions/checkout@v3
       with:
         fetch-depth: 0

     - name: Setup Ccache
       uses: hendrikmuhs/ccache-action@v1.2.11 # Note: pinned due to GLIBC incompatibility in later releases
       with:
         key: ${{ github.job }}
         save: ${{ env.CCACHE_SAVE }}

     # Build is implied by 'make sqlite' that will invoke implicitly 'make release' (we make it explicit)
     - name: Build
       shell: bash
       run: make release

     - name: Test
       shell: bash
       run: make sqlite

  storage-initialization:
     name: Storage Initialization Verification
     runs-on: ubuntu-22.04
     needs: linux-memory-leaks
     env:
       CC: gcc-10
       CXX: g++-10
       GEN: ninja

     steps:
     - uses: actions/checkout@v3
       with:
         fetch-depth: 0

     - name: Install
       shell: bash
       run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build

     - name: Setup Ccache
       uses: hendrikmuhs/ccache-action@main
       with:
         key: ${{ github.job }}
         save: ${{ env.CCACHE_SAVE }}

     - name: Build
       shell: bash
       run: make debug

     - name: Test
       shell: bash
       run: python3 scripts/test_zero_initialize.py

  extension-updating:
    name: Extension updating test
    runs-on: ubuntu-22.04
    needs: linux-memory-leaks
    env:
      CC: gcc-10
      CXX: g++-10
      GEN: ninja

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install
        shell: bash
        run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install
        shell: bash
        run: pip install awscli

      - name: Setup Ccache
        uses: hendrikmuhs/ccache-action@main
        with:
          key: ${{ github.job }}
          save: ${{ env.CCACHE_SAVE }}

      - name: Build
        shell: bash
        run: CORE_EXTENSIONS="tpch" make

      - name: Start Minio
        shell: bash
        run: |
          sudo ./scripts/install_s3_test_server.sh
          ./scripts/generate_presigned_url.sh
          source ./scripts/run_s3_test_server.sh
          source ./scripts/set_s3_test_server_variables.sh
          sleep 60

      - name: Build
        shell: bash
        run: |
          ./scripts/run_extension_medata_tests.sh

  force-blocking-sink-source:
    name: Forcing async Sinks/Sources
    runs-on: ubuntu-24.04
    needs: linux-memory-leaks
    env:
      GEN: ninja
      CORE_EXTENSIONS: "icu;parquet;tpch;tpcds;fts;json;inet"
      FORCE_ASYNC_SINK_SOURCE: 1

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install
        shell: bash
        run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build

      - name: Setup Ccache
        uses: hendrikmuhs/ccache-action@main
        with:
          key: ${{ github.job }}
          save: ${{ env.CCACHE_SAVE }}

      - name: Build
        shell: bash
        run: make relassert

      - name: Test
        shell: bash
        run: python3 scripts/run_tests_one_by_one.py build/relassert/test/unittest --no-exit --timeout 600

  regression-test-memory-safety:
   name: Regression Tests between safe and unsafe builds
   runs-on: ubuntu-22.04
   needs: linux-memory-leaks
   env:
     CC: gcc-10
     CXX: g++-10
     GEN: ninja
     BUILD_BENCHMARK: 1
     BUILD_JEMALLOC: 1
     CORE_EXTENSIONS: "tpch;tpcds;httpfs"

   steps:
     - name: Checkout
       uses: actions/checkout@v3
       with:
         fetch-depth: 0

     - name: Checkout tools repo
       uses: actions/checkout@v3
       with:
         fetch-depth: 0
         path: unsafe

     - uses: actions/setup-python@v5
       with:
         python-version: '3.12'

     - name: Install
       shell: bash
       run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build && pip install requests

     - name: Setup Ccache
       uses: hendrikmuhs/ccache-action@main
       with:
         key: ${{ github.job }}
         save: ${{ env.CCACHE_SAVE }}

     - name: Build
       shell: bash
       run: |
         make

         cd unsafe
         UNSAFE_NUMERIC_CAST=1 DISABLE_MEMORY_SAFETY=1 make

     - name: Set up benchmarks
       shell: bash
       run: |
         cp -r benchmark unsafe/

     - name: Regression Test Micro
       if: always()
       shell: bash
       run: |
         python scripts/regression/test_runner.py --old unsafe/build/release/benchmark/benchmark_runner --new build/release/benchmark/benchmark_runner --benchmarks .github/regression/micro.csv --verbose --threads 2

     - name: Regression Test TPCH
       if: always()
       shell: bash
       run: |
         python scripts/regression/test_runner.py --old unsafe/build/release/benchmark/benchmark_runner --new build/release/benchmark/benchmark_runner --benchmarks .github/regression/tpch.csv --verbose --threads 2

     - name: Regression Test TPCDS
       if: always()
       shell: bash
       run: |
         python scripts/regression/test_runner.py --old unsafe/build/release/benchmark/benchmark_runner --new build/release/benchmark/benchmark_runner --benchmarks .github/regression/tpcds.csv --verbose --threads 2

     - name: Regression Test H2OAI
       if: always()
       shell: bash
       run: |
         python scripts/regression/test_runner.py --old unsafe/build/release/benchmark/benchmark_runner --new build/release/benchmark/benchmark_runner --benchmarks .github/regression/h2oai.csv --verbose --threads 2

     - name: Regression Test IMDB
       if: always()
       shell: bash
       run: |
         python scripts/regression/test_runner.py --old unsafe/build/release/benchmark/benchmark_runner --new build/release/benchmark/benchmark_runner --benchmarks .github/regression/imdb.csv --verbose --threads 2

  block-sizes:
    name: Block Sizes
    runs-on: ubuntu-24.04
    needs: linux-memory-leaks
    env:
      GEN: ninja
      CORE_EXTENSIONS: "json;parquet"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install
        shell: bash
        run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build

      - name: Setup Ccache
        uses: hendrikmuhs/ccache-action@main
        with:
          key: ${{ github.job }}
          save: ${{ env.CCACHE_SAVE }}

      - name: Build with standard vector size
        shell: bash
        run: BLOCK_ALLOC_SIZE=16384 make relassert

      - name: Fast and storage tests
        shell: bash
        run: |
          python3 scripts/run_tests_one_by_one.py ./build/relassert/test/unittest --no-exit --time_execution
          python3 scripts/run_tests_one_by_one.py ./build/relassert/test/unittest "test/sql/storage/*" --no-exit --time_execution

      - name: Build with vector size of 512
        shell: bash
        run: rm -rf ./build && rm -rf ./duckdb_unittest_tempdir && make clean && BLOCK_ALLOC_SIZE=16384 STANDARD_VECTOR_SIZE=512 make relassert

      - name: Fast and storage tests
        shell: bash
        run: |
          python3 scripts/run_tests_one_by_one.py ./build/relassert/test/unittest --no-exit --time_execution
          python3 scripts/run_tests_one_by_one.py ./build/relassert/test/unittest "test/sql/storage/*" --no-exit --time_execution

  linux-wasm-experimental:
    name: WebAssembly duckdb-wasm builds
    if: false
    runs-on: ubuntu-22.04
    steps:
    - uses: mymindstorm/setup-emsdk@v12
      with:
        version: 'latest'

    - name: Setup
      shell: bash
      run: |
        git clone https://github.com/duckdb/duckdb-wasm
        cd duckdb-wasm
        git checkout ${{ env.DUCKDB_WASM_VERSION }}
        shopt -s nullglob
        for filename in ../.github/patches/duckdb-wasm/*.patch; do
          git apply $filename
        done
        git submodule init
        git submodule update
        git rm -r submodules/duckdb

    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        path: duckdb-wasm/submodules/duckdb

    - name: Setup
      shell: bash
      run: |
        cd duckdb-wasm
        make patch_duckdb || echo "done"

    - name: Setup Ccache
      uses: hendrikmuhs/ccache-action@main
      with:
        key: ${{ github.job }}
        save: ${{ env.CCACHE_SAVE }}

    - name: Print version
      shell: bash
      run: |
        emcc --version

    - name: Build WebAssembly MVP
      shell: bash
      run: |
        cd duckdb-wasm
        bash scripts/wasm_build_lib.sh relsize mvp $(pwd)/submodules/duckdb

    - name: Build WebAssembly EH
      shell: bash
      run: |
        cd duckdb-wasm
        bash scripts/wasm_build_lib.sh relsize eh $(pwd)/submodules/duckdb

    - name: Build WebAssembly COI
      shell: bash
      run: |
        cd duckdb-wasm
        bash scripts/wasm_build_lib.sh relsize coi $(pwd)/submodules/duckdb

    - name: Package
      shell: bash
      run: |
        zip -r duckdb-wasm32.zip duckdb-wasm/packages/duckdb-wasm/src/bindings

    - uses: actions/upload-artifact@v4
      with:
        name: duckdb-wasm32
        path: |
          duckdb-wasm32.zip

  codecov:
    name: Code Coverage
    runs-on: ubuntu-22.04
    needs: linux-memory-leaks
    strategy:
      fail-fast: false
    env:
      GEN: ninja
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install
        shell: bash
        run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build lcov curl g++ zip

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install pytest
        run: |
          python3 -m pip install pytest

      - name: Check Coverage
        shell: bash
        run: |
          make coverage-check

      - name: Create Archive
        if: always()
        shell: bash
        run: |
          zip -r coverage.zip coverage_html

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: coverage
          path: coverage.zip
          if-no-files-found: error

  pyodide:
    uses: ./.github/workflows/Pyodide.yml
    secrets: inherit
