name: Python
on:
  push:
    paths:
      - tools/pythonpkg/**
  pull_request:
    paths:
      - tools/pythonpkg/**

jobs:
  warn-and-fail:
    name: Repo has moved
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "The DuckDB Python package has moved to github.com/duckdb/duckdb-python"
        echo "Please commit there. The Python-package code will be removed from here soon."
        exit 1
