name: R
on:
  workflow_call:
    inputs:
      override_git_describe:
        type: string
      git_ref:
        type: string
      skip_tests:
        type: string
  workflow_dispatch:
    inputs:
      override_git_describe:
        type: string
      git_ref:
        type: string
      skip_tests:
        type: string
  push:
    branches-ignore:
      - 'main'
      - 'feature'
      - 'v*.*-*'
    paths-ignore:
      - '**'
      - '!.github/workflows/R.yml'
  pull_request:
    types: [opened, reopened, ready_for_review]
    paths-ignore:
      - '**'
      - '!.github/workflows/R.yml'

concurrency:
  group: r-${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}-${{ inputs.override_git_describe }}
  cancel-in-progress: true

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  OVERRIDE_GIT_DESCRIBE: ${{ inputs.override_git_describe }}

jobs:
  rstats-windows-extensions:
    # Builds extensions for windows_amd64_rtools
    name: R Package Windows (Extensions)
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.git_ref }}

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'devel'
          update-rtools: true
          rtools-version: '42' # linker bug in 43 ^^

      - uses: ./.github/actions/build_extensions
        with:
          duckdb_arch: windows_amd64_mingw
          vcpkg_target_triplet: x64-mingw-static
          treat_warn_as_error: 0
          override_cc: gcc
          override_cxx: g++
          vcpkg_build: 1
          no_static_linking: 1
          run_tests: 0
          run_autoload_tests: 0

      - uses: actions/upload-artifact@v4
        with:
          name: duckdb-extensions-windows_amd64_mingw
          path: |
            build/release/extension/*/*.duckdb_extension

  upload-mingw-extensions:
    name: Upload MinGW Extensions
    needs: rstats-windows-extensions
    uses: ./.github/workflows/_sign_deploy_extensions.yml
    secrets: inherit
    with:
      extension_artifact_name: duckdb-extensions-windows_amd64_mingw
      duckdb_arch: windows_amd64_mingw
      duckdb_sha: ${{ github.sha }}

