name: Regression
on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'tools/juliapkg/**'
      - 'tools/nodejs/**'
      - 'tools/rpkg/**'
      - '.github/workflows/**'
      - '!.github/workflows/Regression.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/master' || github.sha }}
  cancel-in-progress: true

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
  AWS_ACCESS_KEY_ID: AKIAVBLKPL2ZW2T7TYFQ
  AWS_SECRET_ACCESS_KEY: ${{ secrets.NODE_PRE_GYP_SECRETACCESSKEY }}
  NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}

jobs:
 regression-test-benchmark-runner:
  name: Regression Test (${{ matrix.benchmark }})
  runs-on: ubuntu-20.04
  strategy:
    fail-fast: false
    matrix:
      benchmark:
        - 'micro'
        - 'tpch'
        - 'tpcds'
        - 'h2oai'
  env:
    CC: gcc-10
    CXX: g++-10
    GEN: ninja
    BUILD_BENCHMARK: 1
    BUILD_TPCH: 1
    BUILD_TPCDS: 1
    BUILD_HTTPFS: 1

  steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'

    - name: Install
      shell: bash
      run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build && pip install requests

    - name: Setup Ccache
      uses: hendrikmuhs/ccache-action@main
      with:
        key: ${{ github.job }}

    - name: Build
      shell: bash
      run: |
        make
        git clone https://github.com/duckdb/duckdb.git --depth=1
        cd duckdb
        make
        cd ..

    - name: Regression Test
      shell: bash
      run: |
        cp -r benchmark duckdb/
        python scripts/regression_test_runner.py --old=duckdb/build/release/benchmark/benchmark_runner --new=build/release/benchmark/benchmark_runner --benchmarks=.github/regression/${{ matrix.benchmark }}.csv --verbose --threads=2

 regression-test-python:
  name: Regression Test (Python Client)
  runs-on: ubuntu-20.04
  env:
    CC: gcc-10
    CXX: g++-10
    GEN: ninja

  steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'

    - name: Install
      shell: bash
      run: |
        sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build
        pip install numpy pytest pandas mypy psutil pyarrow

    - name: Build Current Version
      shell: bash
      run: |
        cd tools/pythonpkg
        python setup.py install --user
        cd ../..

    - name: Run New Version
      shell: bash
      run: |
        python scripts/regression_test_python.py --threads=2 --out-file=new.csv

    - name: Cleanup New Version
      shell: bash
      run: |
        cd tools/pythonpkg
        ./clean.sh
        cd ../..

    - name: Build Current
      shell: bash
      run: |
        git clone https://github.com/duckdb/duckdb.git --depth=1
        cd duckdb/tools/pythonpkg
        python setup.py install --user
        cd ../../..

    - name: Run Current Version
      shell: bash
      run: |
        python scripts/regression_test_python.py --threads=2 --out-file=current.csv

    - name: Regression Test
      shell: bash
      run: |
        python scripts/regression_check.py --old=current.csv --new=new.csv

 regression-test-plan-cost:
  name: Regression Test Join Order Plan Cost
  runs-on: ubuntu-20.04
  strategy:
    fail-fast: false
    matrix:
      benchmark:
        - 'imdb'
        - 'tpch'
  env:
    CC: gcc-10
    CXX: g++-10
    GEN: ninja
    BUILD_TPCH: 1
    BUILD_HTTPFS: 1

  steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'

    - name: Install
      shell: bash
      run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build && pip install tqdm

    - name: Setup Ccache
      uses: hendrikmuhs/ccache-action@main
      with:
        key: ${{ github.job }}

    - name: Build
      shell: bash
      run: |
        make
        git clone https://github.com/duckdb/duckdb.git --depth=1
        cd duckdb
        make
        cd ..

    - name: Regression Test
      shell: bash
      run: |
        cp -r benchmark duckdb/
        python scripts/plan_cost_runner.py --old=duckdb/build/release/duckdb --new=build/release/duckdb --dir=benchmark/${{ matrix.benchmark }}_plan_cost
