name: DuckDB-Wasm extensions
on:
  workflow_dispatch:
    inputs:
      # Git ref of the duckdb repo
      duckdb_ref:
        required: true
        type: string
      # Publish extensions on extensions.duckdb.org?
      release_s3:
        required: true
        type: boolean
        default: false

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
  build_wasm:
    name: Build extensions
    runs-on: ubuntu-latest
    strategy:
      matrix:
        duckdb_wasm_arch: [ 'mvp', 'eh', 'threads' ]
    env:
      VCPKG_TOOLCHAIN_PATH: ${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake
      DUCKDB_PLATFORM: "wasm_${{ matrix.duckdb_wasm_arch }}"

    steps:
            - uses: actions/checkout@v3
              with:
                  ref: ${{ inputs.duckdb_ref }}
                  fetch-depth: 0

            - uses: mymindstorm/setup-emsdk@v12
              with:
                  version: 'latest'

            - name: Install
              shell: bash
              run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build

            - name: Setup vcpkg
              uses: lukka/run-vcpkg@v11.1
              with:
                  vcpkgGitCommitId: a42af01b72c28a8e1d7b48107b33e4f286a55ef6

            - name: Setup Ccache
              uses: hendrikmuhs/ccache-action@main
              with:
                  key: ${{ github.job }}-${{ matrix.duckdb_wasm_arch }}

            - name: Build Wasm module MVP
              if: ${{ matrix.duckdb_wasm_arch == 'mvp' }}
              run: |
                mkdir -p ./build/wasm_mvp
                emcmake cmake -G "Ninja" -DWASM_LOADABLE_EXTENSIONS=1 -DBUILD_EXTENSIONS_ONLY=1 -Bbuild/wasm_mvp -DCMAKE_CXX_FLAGS="-DDUCKDB_CUSTOM_PLATFORM=wasm_mvp" -DDUCKDB_EXPLICIT_PLATFORM=wasm_mvp -DLOCAL_EXTENSION_REPO='build/to_be_deployed' -DDUCKDB_EXTENSION_CONFIGS=".github/config/in_tree_extensions.cmake" -DSKIP_EXTENSIONS="httpfs"
                emmake ninja -j8 -Cbuild/wasm_mvp

            - name: Build Wasm module EH
              if: ${{ matrix.duckdb_wasm_arch == 'eh' }}
              run: |
                mkdir -p ./build/wasm_eh
                emcmake cmake -G "Ninja" -DWASM_LOADABLE_EXTENSIONS=1 -DBUILD_EXTENSIONS_ONLY=1 -Bbuild/wasm_eh -DCMAKE_CXX_FLAGS="-fwasm-exceptions -DWEBDB_FAST_EXCEPTIONS=1 -DDUCKDB_CUSTOM_PLATFORM=wasm_eh" -DDUCKDB_EXPLICIT_PLATFORM=wasm_eh -DLOCAL_EXTENSION_REPO='build/to_be_deployed' -DDUCKDB_EXTENSION_CONFIGS=".github/config/in_tree_extensions.cmake" -DSKIP_EXTENSIONS="httpfs"
                emmake ninja -j8 -Cbuild/wasm_eh

            - name: Build Wasm module THREADS
              if: ${{ matrix.duckdb_wasm_arch == 'threads' }}
              run: |
                mkdir -p ./build/wasm_threads
                emcmake cmake -G "Ninja" -DWASM_LOADABLE_EXTENSIONS=1 -DBUILD_EXTENSIONS_ONLY=1 -Bbuild/wasm_threads -DCMAKE_CXX_FLAGS="-fwasm-exceptions -DWEBDB_FAST_EXCEPTIONS=1 -DWITH_WASM_THREADS=1 -DWITH_WASM_SIMD=1 -DWITH_WASM_BULK_MEMORY=1 -DDUCKDB_CUSTOM_PLATFORM=wasm_threads" -DDUCKDB_EXPLICIT_PLATFORM=wasm_threads -DLOCAL_EXTENSION_REPO='build/to_be_deployed' -DDUCKDB_EXTENSION_CONFIGS=".github/config/in_tree_extensions.cmake" -DSKIP_EXTENSIONS="httpfs"
                emmake ninja -j8 -Cbuild/wasm_threads

            - name: Upload artifact
              uses: actions/upload-artifact@v3
              with:
                  name: duckdb_extensions_${{ env.DUCKDB_PLATFORM }}
                  path: build/to_be_deployed/${{ inputs.duckdb_ref }}/${{ env.DUCKDB_PLATFORM }}
                  retention-days: 1

  publish:
    name: Publish extensions
    runs-on: ubuntu-latest
    needs:
    - build_wasm
    strategy:
      matrix:
        duckdb_arch: [ 'wasm_mvp', 'wasm_eh', 'wasm_threads' ]
    steps:
            - uses: actions/checkout@v3

            - uses: actions/download-artifact@v3
              with:
                name: duckdb_extensions_${{ matrix.duckdb_arch }}
                path: build/to_be_deployed/${{ inputs.duckdb_ref }}/${{ matrix.duckdb_arch }}

            - uses: actions/setup-python@v5
              with:
                python-version: '3.12'

            - name: Install aws
              run: |
                  pip install awscli

            - name: Sign and deploy Wasm extensions (no credentials)
              if: ${{ ! inputs.release_s3 }}
              run: |
                  bash ./scripts/extension-upload-wasm.sh ${{ matrix.duckdb_arch }} ${{ inputs.duckdb_ref }}

            - name: Sign and deploy Wasm extensions (with credentials)
              if: ${{ inputs.release_s3 }}
              env:
                  AWS_ACCESS_KEY_ID: ${{secrets.S3_ID}}
                  AWS_SECRET_ACCESS_KEY: ${{secrets.S3_KEY}}
                  AWS_DEFAULT_REGION: us-east-1
                  DUCKDB_EXTENSION_SIGNING_PK: ${{ secrets.DUCKDB_EXTENSION_SIGNING_PK }}
              run: |
                  bash ./scripts/extension-upload-wasm.sh ${{ matrix.duckdb_arch }} ${{ inputs.duckdb_ref }}
